* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@mixin box-shadow {
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}
body {
  background-color: #dde1e7;
}
.keyboard {
  //   width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  @include box-shadow();
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 25px;
  &__row {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    input {
      height: 50px;
      min-width: 50px;
      padding: 10px;
      outline: none;
      border: none;
      font-size: 20px;
      color: #808080;
      text-transform: uppercase;
      margin: 10px;
      border-radius: 5px;
      @include box-shadow();
      background-color: #dde1e7;
      &:focus {
        box-shadow: inset -3px -3px 7px #ffffff73,
          inset 2px 2px 5px rgba(94, 104, 121, 0.288);
        font-size: 19px;
        color: #3498db;
      }
    }
    input[value="space"] {
      width: 60%;
    }
  }
}
